<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><html>

        <head>
            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="application-name" content="Hiveon ID">
            <meta name="msapplication-TileColor" content="#1f2228">
            <meta name="theme-color" content="#1f2228">
            <link rel="safari-pinned-tab" href="/assets/safari-pinned-tab.svg">
            <meta name="apple-mobile-web-app-title" content="Hiveon ID">
            <title>Hiveon ID Log In</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script charset="utf-8" src="/assets/jquery.min.js"></script>
            <link rel="preload" href="/assets/logo.svg" as="image">
            <link type="image/x-icon" rel="icon" href="/assets/favicon-32x32.png">
            <link rel="stylesheet" href="/assets/styles.css" class="rel">
            <link rel="stylesheet" href="/fonts/Gilroy/gilroy.css" class="rel">
            <link rel="stylesheet" href="/fonts/OpenSans/opensans.css" class="rel">
        </head>


<body>
<form action="" method="post">
    <div class="main">
        <div class="container">
            <img src="/assets/logo.svg" width="200" height="60" alt="Hiveon ID" class="logo">
            <h1><span class="thin">{{.message}} </span></h1>
            <form method="post">

                <input type="hidden" name="timezone" value="">
                <input type="hidden" name="utc" value="">
                <input type="hidden" name="_csrf" value="{{.csrfToken}}">
                <input type="hidden" name="challenge" value="{{.challenge}}">


            </form>
        </div>
    </div>
    <script charset="utf-8" src="/assets/scripts.js"></script>
</form>
</body>

</html></title>
</head>
<body>

</body>
</html>